{% extends "partial-base.html" %}

{% block content %}
{% if credential != None %}
<div class="mui--text-accent">Credentials present for instance.</div>
<div class="mui-panel"id="credetial-modal">
<form action="/credentials/{{ instance_id }}" method="post">
  <legend>Add Credentials to Instance</legend>
  <div class="mui-textfield">
    <input type="text" name="instance_id" placeholder="InstanceId" value="{{ instance_id }}">
  </div>
  <div class="mui-textfield">
    <input type="text" name="username" placeholder="SSH-User" value="{{ credential.username }}">
  </div>
  <div class="mui-textfield">
    <textarea name="key" placeholder="SSH Key">{{ credential.sshkey }}</textarea>
  </div>
  <button type="submit" class="mui-btn mui-btn--raised">Submit</button>

</form>
</div>
{% else %}
<div class="mui-panel"id="credetial-modal">
<form action="/credentials/{{ instance_id }}" method="post">
  <legend>Add Credentials to Instance</legend>
  <div class="mui-textfield">
    <input type="text" name="instance_id" placeholder="InstanceId" value="{{ instance_id }}">
  </div>
  <div class="mui-textfield">
    <input type="text" name="username" placeholder="SSH-User">
  </div>
  <div class="mui-textfield">
    <textarea name="key" placeholder="SSH Key"></textarea>
  </div>
  <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
</form>
</div>
{% endif %}
{% endblock %}
